<header th:fragment="header">
  <a href="/" class="logo-container">
    <img th:src="@{/images/includes/logo.png}" alt="URI_Ai" class="logo-image">
  </a>

  <div class="menu-toggle" id="mobileMenu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="nav-menu">
    <li class="nav-item">
      <a href="/map/centerMap" class="nav-link">주변 상담소</a>
    </li>

    <li class="nav-item">
      <a href="/chat/chat" class="nav-link">오늘의 대화</a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">심리분석 ▾</a>
      <ul class="dropdown-content">
        <li><a href="#">일기 작성</a></li>
        <li><a href="#">분석 결과</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <button class="btn-signin">로그인</button>
    </li>
  </ul>
</header>